<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>freizeitticket.info</name>
    <description>
         FreizeitTicket.info zeigt euch die Webcams aller Freizeitticket-Skigebiete auf nur einen Blick. Die Zeiten vom Durchklicken der einzelnen Homepages sind vorbei, hier seht ihr sofort wo die Bedingungen am besten sind – inklusive aktueller Neuschnee- und Lawinenberichte. Die jeweilige Lawinenwarnstufe scheint schon auf der Überblicksseite direkt beim Skigebiet auf. Daneben findet ihr das Schneeflocken-Icon. Das zeigt an, wo wieviel Neuschnee gefallen ist und wann der letzte Schneefall war. Diese Info holen wir top-aktuell direkt aus den Social Media Kanälen der Skigebiete oder deren Homepage. Das Skigebiet mit dem meisten Neuschnee listet FreizeitTicket.info ganz zu Beginn - damit ihr die ersten im perfekten Powder seid!
    </description>

    <author email="info@freizeitticket.info" href="https://www.freizeitticket.info">
        freizeitticket.info Team
    </author>

    <content src="index.html" />

    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
    <gap:plugin name="pushbots-cordova-plugin" source="npm" />
    <gap:plugin name="org.apache.cordova.splashscreen" />

</widget>