@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../fonts/sourcesanspro.woff2) format('woff2');
}
html *
{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FFD530;
}